.item {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
}

.statusOnline {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: green;
}

.statusOffline {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: red;
}

.avatar {
  max-width: 30%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: hsla(132, 12%, 92%, 0.968);
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.name {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
