td {
  display: flex;
  min-height: 40px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  font-size: 18px;
}

.transactionHistoryTableType {
  justify-content: flex-start;
}

.transactionHistoryTableCurrency {
  justify-content: flex-end;
}
tr {
  display: flex;
  border-radius: 4px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

tr:nth-child(odd) {
  background-color: hsla(132, 9%, 78%, 0.968);
}
