.transactionHistoryTable {
  margin-top: 32px;
  list-style: none;
  padding: 48px 36px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: hsla(132, 12%, 92%, 0.968);
  border-radius: 4px;
  border: 2px solid rgba(32, 21, 5, 0.296);
  box-shadow: 10px 12px 12px 0px #cab1b14d;
}

.transactionHistoryTableHeader {
  display: flex;
  gap: 12px;
  /* font-size: 25px; */
  text-transform: uppercase;
  border-radius: 4px;
  background-color: hsla(132, 12%, 92%, 0.968);
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}

.transactionHistoryTableBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  font-size: 24px;
}
